---
layout: style
---

footer{
  width:100%;
  height:400px;
  background-color:#000000;
  margin-top: 500px;
}

#foot{
width: 1000px;
height: 100px;
margin: 0 auto;  
}

h3{
  color:#ffffff;
}

div.social{
  float: left;
  margin-top:20px;
}

a.social{
 margin-right:15px; 
}

div.contact{
float: right;
margin-right:20px;
margin-top: 20px;
}

lable{
  color:#ffffff;
}

input.text{
  height; 30px;
  width:250px;
  border-radius: 3px;
  border: none;
}

textarea.message{
  height; 100px;
  width:250px;
  border-radius: 3px;
  border: none;
}

input.submit{
  width:30px;
  height: 15px;
  background-color: #ffffff;
  color:#ffff00;
  border: none;
  border-radius:3px;
}

input.submit:hover{
 text-decoration: underline; 
}
