    <!-- Footer -->
    <footer>
        <div>
 <!--               
       <style>
               .positioning{
               width: 70%;
               height: 70%;
               left: 1px;
               margin: 0px auto;
               }      
               .fbcenter
               {
                line-height:30px       
               }
       </style>  

  

        <div class="fb-like"  data-href="https://ewinia.com" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>            


                        

 
<p>ergergqergqerrgqegqegqegqe gqegqgqvgqvtqvtqvtqtvqtvqvtqt Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</p>
        </div>
                <div class="container text-center">
            <p>Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</p>
        </div>-->
            <p>ergergqergqerrgqegqegqegqe gqegqgqvgqvtqvtqvtqtvqtvqvtqt</p>
            <br><br><br><br><br><br><br>
            
                
    </div>
</footer>
